<ul class="tile-list">
  <li id="blog">
    <a href="{{ site.baseurl }}/blog">
      <img src= "{{ site.baseurl }}/assets/blog.png" alt="Blog" class="blog">
      <span style="display: none;" class="blog">Blog</span>
    </a>
  </li>
  <li id="about">
    <a href="{{ site.baseurl }}/about">
      <img src="{{ site.baseurl }}/assets/about.png" alt="about" class="about">
      <span style="display: none;" class="about">About</span>
    </a>
  </li>
  <li id="research">
    <a href="{{ site.baseurl }}/research">
      <img src="{{ site.baseurl }}/assets/research.png" alt="Research" class="research">
      <span style="display: none;" class="research">Research</span>
    </a>
  </li>
  <li id="projects">
    <a href="{{ site.baseurl }}/projects">
      <img src="{{ site.baseurl }}/assets/projects.png" alt="Projects" class="projects">
      <span style="display: none;" class="projects">Projects</span>
    </a>
  </li>
  <li id="contact">
    <a href="{{ site.baseurl }}/contact">
      <img src="{{ site.baseurl }}/assets/contact.png" alt="Contact" class="contact">
      <span style="display: none;" class="contact">Contact</span>
    </a>
  </li>
  <li id="timeline">
    <a href="{{ site.baseurl }}/timeline">
      <img src="{{ site.baseurl }}/assets/timeline.png" alt="Timeline" class="timeline">
      <span style="display: none;" class="timeline">Timeline</span>
    </a>
  </li>
  <li id="home">
    <a href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/home.png" alt="Home" class="home">
      <span style="display: none;" class="timeline">Home</span>
    </a>
  </li>
</ul>
