<ul class = "tile-list">
  <li id="blog">
    <a href = "/blog">
      <img src="/assets/blog.png" alt="Blog" class = "blog">
      <span style="display: none;" class = "blog">Blog</span>
    </a>
  </li>
  <li id = "about">
    <a href = "/about">
      <img src="/assets/about.png" alt="about" class = "about">
      <span style="display: none;" class = "about";>About</span>
    </a>
  </li>
  <li id = "research">
    <a href = "/research">
      <img src="/assets/research.png" alt="Research" class="research">
      <span style="display: none;" class="research">Research</span>
    </a>
  </li>
  <li id = "projects">
    <a href = "/projects">
      <img src="/assets/projects.png" alt="Projects" class = "projects">
      <span style="display: none;" class="projects">Projects</span>
    </a>
  </li>
  <li id = "contact">
    <a href = "/contact">
      <img src="/assets/contact.png" alt="Contact" class = "contact">
      <span style="display: none;" class="contact">Contact</span>
    </a>
  </li>
  <li id = "timeline">
    <a href = "/timeline">
      <img src="/assets/timeline.png" alt="Timeline" class = "timeline">
      <span style="display: none;" class="timeline">Timeline</span>
    </a>
  </li>
</ul>
