
.tile-list {
  @extend .post-list;
  font-size: 2rem;
  margin-top: 4vh;

  > li {
    display: inline-block;
    float: left;
    margin: 6.6667%;
    margin-bottom: $spacing-unit;
    margin-top: $spacing-unit;
    width: 20%;
  }

  > li:nth-child(4n) {
    clear: left;
  }

  span {
    display: block;
    margin-top: -6rem;
    position: absolute;
    text-align: center;
  }

  img {
    width: 100%;
  }
}

.corner {
  height: 25vh;
  left: 0;
  position: fixed;
  top: 0;
}
