
.tiny-tile ul {
  left: 30vh;
  margin: 0;
  position: fixed;
  top: 5px;
}

.tiny-tile li {
  clear: none !important;
  height: 20px;
  margin: 10px;
  width: 20px;
}

.tiny-tile img {
  margin-top: -165%;
}
